.review {
  margin: 0 auto;
  background: #070a11;
}

.review-inner {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.review-item {
  width: 900px;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.review-item::before {
  content: '';
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 1px;
  background: radial-gradient(circle, rgba(244, 57, 57, 1) 80%, rgba(0, 0, 0, 0.654499299719888) 100%);
}

.review-item:last-child::before {
  content: none;
}

.review-item::after {
  content: '';
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  height: 0;
  width: 1px;
  background: radial-gradient(circle, rgba(244, 57, 57, 1) 80%, rgba(0, 0, 0, 0.654499299719888) 100%);
  transition: all .5s;
  
}

.review-item:hover::after {
  height: 100%;
}

.review-item + .review-item {
  margin-top: 70px;
}

.review-item__top {
  display: flex;
}

.review-item__name {
  font-size: 22px;
  font-family: 'Yandex Sans', sans-serif;
  margin-right: 20px;
}

.review-item__date {
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 18px;
  color: #a4a7a9;
}

.review-item__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 31px;
  color: #a4a7a9;
}

.review-item__source {
  text-decoration: none;
}

.review-item__img {
  height: 28px;
}

.review-item__img--vk {
  height: 24px;
}

.review-item__img--buster {
  font-family: 'Buster', sans-serif;
  font-size: 22px;
  color: #fcbc2c;
  letter-spacing: 1px;
  user-select: none;
}


/*buttons*/

.review-buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.review-buttons__item {
  width: 40px;
  height: 40px;
  border: 1px solid yellow;
  color: yellow;
  background: #fff0;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

.review-buttons__item + .review-buttons__item {
  margin-left: 5px;
}

.review-buttons__item:hover {
  opacity: .7;
}

.review-buttons__item.active {
  color: #ea434d;
  border-color: #ea434d;
}

.spinner {
  display: none;
  margin-top: 20px!important;
}
