.instruction {
	background-image: url("../../image/download/download_human_background.png"), url('../../image/download/download_orc_background.png'), url('../../image/download/shadow_background.png');
	background-repeat: no-repeat;
	background-size: auto, auto, 100vw 100%;
	background-position: right 35%, left 35%, center center;
	padding-bottom: 100px;
}

.instruction-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.instruction__inner {
	margin: 1px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 5%;
	position: relative;
}

.instruction__inner-reverse {
	flex-direction: row-reverse;
}

.instruction__main-title {
	font-size: 75px;
	font-weight: 500;
	color: #fc9f36;
	letter-spacing: 4px;
	margin-bottom: 40px;
}

.instruction__title {
	text-align: center;
	font-size: 45px;
	font-weight: 500;
	color: #fc9f36;
	margin: 30px 0;
}

.instruction__text-number {
	font-size: 115px;
	color: #fc9f36;
	float: left;
	display: inline-block;
}

.instruction__text {
	font-size: 16px;
	line-height: 27px;
}

.instruction__image {
	height: 225px;
}

.instruction__inner:last-child .instruction__image {
	height: 220px;
}

.instruction__video {
	border: 5px solid #28202f;
	border-radius: 5px;
	width: 100%;
	height: 570px;
}

@media (max-width: 1600px) {
	.instruction__inner:before, .instruction__inner:first-child:after {
		width: 1040px;
	}
}

@media (max-width: 1100px) {
	.instruction {
		background: #14111e;
	}

	.instruction__inner:before, .instruction__inner:first-child:after {
		width: 90vw;
	}
}

@media (max-width: 950px) {
	.instruction__inner {
		flex-wrap: wrap;
		column-gap: 5px;
		flex-direction: column;
	}

	.instruction__text-number {
		display: none;
	}

	.instruction__image {
		margin: 50px 0;
	}

	.instruction__video {
		height: 500px;
	}
}

@media (max-width: 700px) {
	.instruction__main-title {
		font-size: 70px;
	}

	.instruction__video {
		height: 275px;
	}
}

@media (max-width: 550px) {
	.instruction__main-title {
		font-size: 60px;
	}

	.instruction__title {
		font-size: 40px;
	}

	.instruction__image img {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.instruction__main-title {
		font-size: 38px;
	}

	.instruction__title {
		font-size: 35px;
	}

	.instruction__video {
		height: 195px;
	}
}
