.instruction {
	background-image: url("../../image/download/download_human_background.png"), url('../../image/download/download_orc_background.png'), url('../../image/download/shadow_background.png');
	background-repeat: no-repeat;
	background-size: auto, auto, 100vw 100%;
	background-position: right top, left top, center center;
	padding-bottom: 100px;
}

.instruction-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.instruction__inner {
	margin: 1px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	padding-left: 76px;
}

.instruction__inner:before {
	content: '';
  	position: absolute;
  	top: 100%;
  	left: 50%;
  	transform: translateX(-50%);
  	width: 1240px;
  	height: 2px;
  	background: radial-gradient(circle, rgba(254, 121, 67, 1) 20%, rgba(13, 14, 23, 0.654499299719888) 100%);
}

.instruction__inner:first-child:after {
	content: '';
  	position: absolute;
  	top: 0;
  	left: 50%;
  	transform: translateX(-50%);
  	width: 1240px;
  	height: 2px;
  	background: radial-gradient(circle, rgba(254, 121, 67, 1) 20%, rgba(13, 14, 23, 0.654499299719888) 100%);
}

.instruction__inner-reverse {
	flex-direction: row-reverse;
	padding-right: 76px;
}

.instruction__text {
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	line-height: 38px;
}

.instruction__text-1 {
	max-width: 340px;
}

.instruction__text-2 {
	max-width: 328px;
}

.instruction__text-3 {
	max-width: 393px;
}

.instruction__text-4 {
	max-width: 435px;
}

.instruction__image {
	height: 225px;
	margin-right: 227px;
}

.instruction__image-reverse {
	margin-right: 0;
	margin-left: 227px;
}

.instruction__inner:last-child .instruction__image {
	height: 220px;
}