.lang-switch {
	float: right;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
}

.load {
	padding-top: 50px;
	padding-bottom: 115px;
	background-image: url('../../image/download/load_top_background.png'), url('../../image/download/load_center_background.png'), url('../../image/download/shadow_background.png');
	background-size: 28vw auto, 9vw auto, 100vw 100%;
	background-repeat: no-repeat;
	background-position: right top, left top, center center;
}

.load__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 400px;
}

.load__image {
	transition: 0.75s;
}

.load__image:hover {
	-webkit-filter: drop-shadow(0 0 12px rgba(255, 156 , 37, 0.5));
	filter: drop-shadow(0 0 10px rgba(255, 156 , 37, 0.5));

}

.loading-process__content {
	text-align: center;
	display: none;
}

.loading-process__content p:first-child {
	font-size: 63px;
	color: #ffd42b;
	margin-bottom: 25px;
}

.loading-process__content p:last-child {
	font-size: 43px;
	color: #8e8c94;
}

.load__btn {
  	text-decoration: none;
  	text-align: center;
  	color: #ffffff;
  	font-size: 35px;
  	font-weight: 400;
  	padding: 25px 55px;
  	border-radius: 4px;
  	letter-spacing: .1px;
	background-image: linear-gradient(-90deg, #9812a1, #da0b53);
  	transition: box-shadow .2s linear;
  	height: 100px;
  	width: 576px;
}

.load__btn:hover {
	box-shadow: 0 0 25px rgba(244, 21, 75, 0.5)
}

@media (max-width: 1400px) {
	.load {
		padding-top: 50px;
	}
}

@media (max-width: 1100px) {
	.load {
		background: #14111e;
	}
}

@media (max-width: 650px) {
	.load__btn {
		width: 376px;
	}

	.loading-process__content p:first-child{
		font-size: 45px;
	}

	.loading-process__content p:last-child {
		font-size: 25px;
	}
}

@media (max-width: 550px) {
	.load__logo img {
		width: 100%;
	}

	.load__btn {
		width: auto;
	}
}

@media (max-width: 450px) {
	.load__inner {
		height: 300px;
	}

	.loading-process__content p:first-child {
		font-size: 35px;
	}
}