.dev-first-top {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
}

.intro-title__dev {
  color: #fff;
  font-size: 59px;
  font-family: Roboto, sans-serif;
}

.dev-title-btn {
  margin: 0 0 0 165px;
}

.dev-first-bottom {
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}

.dev-first-bottom__elem {
  max-width: 400px;
}

.dev-first-bottom__title {
  font-size: 43px;
  color: #fcbc2c;
}

.dev-first-bottom__text {
  font-size: 21px;
  margin-top: 35px;
}

.dev-section-2 {
  margin-top: 200px;
  position: relative;
}

.dev-section-3 {
  margin-top: 800px;
  padding-bottom: 200px;
}

@media (max-width: 1600px) {
  .dev-first-bottom__elem {
    max-width: 320px;
  }
}

@media (max-width: 1250px) {
  .dev-first-top {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .intro-title__dev {
    font-size: 50px;
  }
  
  .dev-title-btn {
    margin: 30px 0 0 0;
  }
  
  .dev-first-bottom__title {
    font-size: 33px;
  }
  
  .dev-first-bottom__text {
    font-size: 18px;
    margin-top: 25px;
  }
  
  .dev-section-3 {
    margin-top: 650px;
  }
  
}

@media (max-width: 1100px) {
  .dev-first-bottom {
    flex-direction: column;
    margin-top: 120px;
  }
  
  .dev-first-bottom__elem {
    max-width: 700px;
  }
  
  .dev-first-bottom__elem + .dev-first-bottom__elem {
    margin-top: 40px;
  }
  
  .dev-first-bottom__text {
    margin-top: 10px;
  }
}

@media (max-width: 1000px) {
  .dev-section-3 {
    margin-top: 500px;
  }
}

@media (max-width: 576px) {
  .dev-first-top {
    margin-top: 80px;
  }
  
  .intro-title__dev {
    font-size: 40px;
  }
  
  .dev-title-btn {
    margin: 20px 0 0 0;
  }
  
  .dev-section-2 {
    margin-top: 150px;
  }
  
  .dev-section-3 {
    padding-bottom: 100px;
  }
}


