.what-can__title {
  font-size: 51px;
  text-align: center;
}

.what-can__slider {
  position: absolute;
  left: 50%;
  top: 130px;
  transform: translateX(-50%);
  width: 100%;
}

.what-can__slider-elem {
  padding: 15px 50px 45px;
  border: 3px solid #fbb531;
  border-radius: 10px;
  margin: 0 10px;
  width: 800px;
  min-height: 455px;
  box-shadow: inset 0 0 500px 500px rgba(12, 12, 12, .5);
  position: relative;
  cursor: -webkit-grab;
}

.what-can__slider-elem:not(.slick-current)::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: #171313cc;
}

.slider-elem__title {
  font-size: 53px;
  text-align: center;
  color: #fcbc2c;
}

.what-can__slider .slick-current .slider-elem__title {
  color: #fcbc2c;
}


.slider-elem__content {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}

.slider-elem__text {
  font-size: 28px;
  line-height: 1.5;
  margin-right: 100px;
  font-weight: 500;
  letter-spacing: 1px;
}

.slider-elem__img {
  width: 130px;
}

@media (max-width: 1250px) {
  .what-can__title {
    font-size: 38px;
  }
  
  .what-can__slider-elem {
    width: 600px;
    min-height: 370px;
  }
  
  .slider-elem__content {
    margin-top: 20px;
  }
  
  .slider-elem__title {
    font-size: 35px;
  }
  
  .slider-elem__text {
    font-size: 20px;
  }
  
  .slider-elem__img {
    width: 100px;
  }
  
  
}

@media (max-width: 1000px) {
  .what-can__slider-elem {
    width: 400px;
    min-height: 300px;
    padding: 15px 20px 25px;
  }
  
  .slider-elem__title {
    font-size: 35px;
  }
  
  .slider-elem__text {
    margin-right: 20px;
    font-size: 18px;
  }
  
  .slider-elem__img {
    width: 65px;
  }
}

@media (max-width: 576px) {
  .what-can__title {
    font-size: 30px;
  }

  .slider-elem__content {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 310px;
    display: flex;
  }
  
  .slider-elem__title {
    font-size: 22px;
  }
  
  .slider-elem__text {
    letter-spacing: normal;
    font-size: 16px;
    margin: 0;
    text-align: center;
    margin-top: 10px;
    flex: auto;
  }
  
  .what-can__slider-elem {
    width: 250px;
    min-height: 356px;
  }
  
  .slider-elem__img {
    width: 30%;
  }
}

