.title {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.video__slider {
  margin-top: 70px;
}

.video__slider .slick-list {
  padding: 10px 0;
}

.video__slider-item {
  position: relative;
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
  border: 5px solid #28202f;
  border-radius: 5px;
}

.video__slider-item iframe {
  width: 100%;
  height: 100%;
}

.video-preview {
  height: 100%;
  background-size: 105%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.video-preview__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}

@media (min-width: 1601px) {
  .video__slider-item {
    max-width: 1024px;
    height: 600px;
  }
}


@media (max-width: 1600px) {
  .video__slider-item {
    width: 900px;
    height: 506px;
  }
}

@media (max-width: 1200px) {
  .video__slider-item {
    width: 700px;
    height: 394px;
  }
}

@media (max-width: 768px) {
  .video__slider-item {
    width: 500px;
    height: 281px;
  }
  
  .video {
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  .video__slider-item {
    width: 290px;
    height: 163px;
  }
}
