.title {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.slider-nav {
  margin-top: 70px;
}

.slider-nav .slick-list {
  padding: 10px 0;
}

.video__slider-container {
  position: relative;
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
  border: 2px solid transparent;
}

.video__slider-container::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit; 
  background: linear-gradient(100deg, rgba(255,193,0,1) 17%, rgba(255,94,74,1) 53%);
}

.video__slider-container iframe {
  width: 100%;
  height: 100%;
}

.video__slider-item {
  position: relative;
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
  border: 2px solid #f1b45b;
}

.video__slider-item iframe {
  width: 100%;
  height: 100%;
}

.video-preview {
  height: 100%;
  background-size: 105%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.video-preview__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
}

.video__slider-container .video-preview__btn {
  width: 100px;
}

.video-container__title {
  margin: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}

@media (min-width: 1601px) {
  .video__slider-item {
    max-width: 341px;
    height: 200px;
  }

  .video__slider-container {
    max-width: 1150px;
    height: 680px;
  }
}

@media (max-width: 1600px) {
  .video__slider-item {
    width: 300px;
    height: 168px;
  }

  .video__slider-container {
    width: 975px;
    height: 546px;
  }
}

@media (max-width: 1200px) {
  .video__slider-item {
    width: 233px;
    height: 131px;
  }

  .video__slider-container {
    width: 700px;
    height: 394px;
  }

  .video-container__title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .video__slider-item {
    width: 166px;
    height: 93px;
  }

  .video__slider-container {
    width: 500px;
    height: 281px;
  }
  
  .video {
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  .video__slider-item {
    width: 96px;
    height: 54px;
  }

  .video__slider-container {
    width: 290px;
    height: 163px;
  }

  .video-container__title {
    font-size: 18px;
  }
}
